footer.footer.bg-dark.text-white.pt-5.pb-3
    .container
        .row
            .col-lg-4.mb-4
                h5.font-weight-bold.mb-4 SHOP ABC
                p Chuyên cung cấp các mẫu giày bóng đá chính hãng từ các thương hiệu hàng đầu thế giới như Nike, Adidas, Puma.
                .social-links
                    a.text-white.mr-3(href="#"): i.fab.fa-facebook-f
                    a.text-white.mr-3(href="#"): i.fab.fa-instagram
                    a.text-white.mr-3(href="#"): i.fab.fa-youtube
            
            .col-lg-2.col-md-6.mb-4
                h6.font-weight-bold.mb-4 LIÊN KẾT
                ul.list-unstyled
                    li: a.text-muted(href="/") Trang chủ
                    li: a.text-muted(href="/products") Sản phẩm
                    li: a.text-muted(href="/news") Tin tức
                    li: a.text-muted(href="/contact") Liên hệ
            
            .col-lg-3.col-md-6.mb-4
                h6.font-weight-bold.mb-4 HỖ TRỢ
                ul.list-unstyled
                    li: a.text-muted(href="/faq") Câu hỏi thường gặp
                    li: a.text-muted(href="/stores") Hệ thống cửa hàng
                    li: a.text-muted(href="#") Chính sách đổi trả
                    li: a.text-muted(href="#") Chính sách bảo mật

            .col-lg-3.mb-4
                h6.font-weight-bold.mb-4 LIÊN HỆ
                ul
                    if(settingGeneral && settingGeneral.phone)
                        li Điện thoại: #{settingGeneral.phone}
                    if(settingGeneral && settingGeneral.email)
                        li Email: #{settingGeneral.email}
                    if(settingGeneral && settingGeneral.address)
                        li Địa chỉ: #{settingGeneral.address}

        hr.border-secondary
        .text-center.text-muted.small.mt-3
            | © 2026 SHOP ABC - Thiết kế bởi Huy Hoang. All rights reserved.