extends ../../layouts/default.pug
include ../../mixins/table-tree.pug

block main
  h1.mb-4 Danh mục sản phẩm

  .card.mb-3
    .card-header Danh sách
    .card-body
      .row
        .col-8
        .col-4.text-right
          a(
            href=`/admin/products-category/create`
            class="btn btn-outline-success"
          ) + Thêm mới

      table.table.table-hover.table-sm.mt-3
        thead
          tr
            th Tiêu đề
            //- th Vị trí
            th Trạng thái
            th Hành động
        tbody
          +table-tree(records)