extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-md-5
                .card.shadow-sm
                    .card-header.bg-danger.text-white.text-center
                        h4 LẤY LẠI MẬT KHẨU
                    .card-body.p-4
                        form(form-forgot-password)
                            .form-group.mb-4
                                label(for="email") Vui lòng nhập Email đã đăng ký:
                                input.form-control(type="email" id="email" name="email" required)
                            button.btn.btn-danger.btn-block.btn-lg(type="submit") GỬI MÃ XÁC NHẬN