extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-md-5
                .card.shadow-sm
                    .card-header.bg-primary.text-white.text-center
                        h4 ĐĂNG NHẬP
                    .card-body.p-4
                        form(form-login)
                            .form-group.mb-3
                                label(for="email") Email
                                input.form-control(type="email" id="email" name="email" required)
                            .form-group.mb-4
                                label(for="password") Mật khẩu
                                input.form-control(type="password" id="password" name="password" required)
                            
                            button.btn.btn-primary.btn-block.btn-lg(type="submit") ĐĂNG NHẬP
                            a.btn.btn-outline-danger.btn-block(href="/user/auth/google")
                                i.fab.fa-google.mr-2
                                | Đăng nhập bằng Google
                        
                        .text-center.mt-4
                            p Chưa có tài khoản? <a href="/user/register">Đăng ký ngay</a>
                            p <a href="/user/password/forgot" class="text-danger">Quên mật khẩu?</a>