extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-md-5
                .card.shadow-sm
                    .card-header.bg-warning.text-dark.text-center
                        h4 XÁC THỰC BẢO MẬT
                    .card-body.p-4
                        p.text-center Nhập mã OTP gồm 6 chữ số vừa được gửi đến <br> <b>#{email}</b>
                        form(form-otp-password)
                            input(type="hidden" name="email" value=email)
                            .form-group.mt-4.mb-4
                                input.form-control.text-center(type="text" name="otp" required maxlength="6" style="font-size: 28px; letter-spacing: 15px;")
                            button.btn.btn-warning.btn-block.btn-lg.font-weight-bold(type="submit") XÁC NHẬN MÃ