extends ../../layouts/default.pug

block main
    .container.my-5
        .row.justify-content-center
            .col-md-5
                .card.shadow-sm
                    .card-header.bg-success.text-white.text-center
                        h4 TẠO MẬT KHẨU MỚI
                    .card-body.p-4
                        form(form-reset-password)
                            input(type="hidden" name="email" value=email)
                            .form-group.mb-4
                                label(for="password") Mật khẩu mới
                                input.form-control(type="password" id="password" name="password" required)
                            .form-group.mb-4
                                label(for="confirmPassword") Xác nhận mật khẩu mới
                                input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)
                            button.btn.btn-success.btn-block.btn-lg(type="submit") ĐỔI MẬT KHẨU